body{
    text-align: center;
    background-color: purple;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
}

h2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
}

.answer{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -120%);

   visibility: hidden;
   width: 100px;
}

.outerCircle{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    align-items: center;
}

.innerCircle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    align-items: center;
}

.button{
    width: 200px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 350%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    border-radius: 25px;
}

.triangle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 150px solid blue;
    visibility: hidden;
}

.shiny{
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgb(230, 230, 230);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-325%, -325%);
}

.shiny2{
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    width: 20px;
    height: 20px;
    background: rgb(230, 230, 230);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-500%, -680%);
}

.button:hover{
    background: green;
    color: white;
}